<li id="event-<%= event.id %>">
  <span class="content">
    <%= event.title %>
    <%= event.start_time %>
    <%= event.end_time %>
    <%= event.repeat %>
    <%= event.repeat_value %>
    <%= event.repeat_type %>

  </span>
  <span>
      <%= link_to 'delete', calendar_event_path(@calendar, event), method: :delete,
                  data: { confirm: 'You sure?'} %>
  </span>
  <span>
      <%= link_to 'edit', edit_calendar_event_path(@calendar,event.id) %>
  </span>
</li>
