<%=form_with model: [@calendar, @event] do |f| %>
    <div class="field">
      <%= f.text_area :title, placeholder: 'Event Title' %>
      <%= f.datetime_field :start_time, placeholder: 'Start Time' %>
      <%= f.datetime_field :end_time, placeholder: 'End Time' %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>
