<h1>Update your Event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model:[@calendar,@event] do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.datetime_field :start_time, class: 'form-control' %>
        <%= f.datetime_field :end_time, class: 'form-control' %>

        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
