<li>
  <span class="content">
    <%= @event.title %>
    <%= @event.start_time %>
    <%= @event.end_time %>
    <%= @event.repeat %>
    <%= @event.repeat_value %>
    <%= @event.repeat_type %>


 </span>
</li>
